.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/admin')
        i.fa.fa-cube
        | c4sf.me
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if user && user.admin
          li(class=(title == 'edit') ? 'active' : undefined)
            a(href='/admin/edit') Add new Short URL
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/admin/auth/github') Login via Github
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/admin/account') My Account
              li
                a(href='/admin/account#admin-users') Admin Users
              li.divider
              li
                a(href='/admin/logout') Logout
