/**
  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT

  1. You should never commit this file to a public repository on GitHub.

  2. All public code on GitHub can be searched, that means anyone can see your uploaded .env file.

  3. I did it for convenience using "throw away" API keys so that all features could work out of the box.

  4. Use API keys below for local development, but create a separate set of API keys for production use.

  5. All hosting providers (e.g. Heroku, OpenShift, Azure, Bluemix) allow you to configure environment variables.

  6. Rename this file to `.env` and update `dotenv.load` path in `app.js`.

  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT
 */

MONGODB=mongodb://192.168.99.100:27017/c4brigade-me
MONGOLAB_URI=mongodb://192.168.99.100:27017/c4brigade-me

SESSION_SECRET=7hi$is@seCret

GITHUB_ID=d4409ccd238d6db56255
GITHUB_SECRET=5c37cffa6fb7092e64e61f695d7b527f45caca15
